body {background-color: black;
    overflow-x: hidden;
}

body::selection {background-color: rgba(255, 0, 0, .3)}

.banner {background-color: rgba(50, 50, 50, .6);
    position:fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    backdrop-filter: blur(5px);
    z-index: 3;
    transition-duration: 1s;
}

#toplogo {height: 40px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 10px;
    z-index: 5;
    transition-duration: .3s;
}

#toplogo:hover {
    padding-top: 0px;
    padding-bottom: 5px;
}

.linkbox {width:33%;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
}

h1 {color: rgb(255, 255, 255);
    background-color: transparent;
    font-family: Franklin Gothic;
    font-size: 45;
    text-decoration: none;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 0px;
    transition-duration: .3s;
}

h1:hover {
    color: rgb(175, 0, 0);
    padding-top: 0px;
    padding-bottom: 5px;
}

/**/

#welcomeimage {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0px;
}

#topclip {
    width: 100%;
    transform: scalex(300%);
    /*transform: scaleY(.5);*/
}

#infoclip {
    width: 50%;
    margin-left: 25%;
}

#titletext {
    color: white;
    font-family: Franklin Gothic;
    font-size: 100;
    margin: auto;
    cursor: grab;
    padding-top: 100px;
    z-index: 4;
}

#subtext {
    color: white;
    font-family: Franklin Gothic;
    font-size: 50;
    width: 100%;
    text-align: center;
}

div {
    margin: auto;
    margin-top: 200px;
    margin-bottom: 200px;
    background-color: none;
    width: 80%;
    padding: 10px;
    border-radius: 20px;
}

/**/

#about {
    opacity: 0%;
}

p {
    color: white;
    font-family: Franklin Gothic;
    font-size: 45;
    text-align: center;
    font-weight: 500;
    margin-top: 0px;
}

p::selection {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 0, .5);
}

#abouttext {
    opacity: 100%;
}

/**/

#softwareiuse {
    opacity: 0%;
}

.softwareiuselogo {opacity: 100%;
    cursor: hand;
    max-width: 100%;
    min-height: 150px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    transition-duration: .3s}

.softwareiuselogo:hover {opacity: 100%;
    padding-top: 0px;
    padding-bottom: 5px;}
    
.softwareiuselogo2 {opacity: 100%;
    cursor: hand;
    max-width: 100%;
    min-height: 150px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    transition-duration: .3s}

.softwareiuselogo2:hover {opacity: 100%;
    padding-top: 0px;
    padding-bottom: 5px;}

/**/

h5 {
    color: white;
    font-family: Franklin Gothic;
    font-size: 16;
    padding-left: 50px;
    padding-top: 25px;
}

#footerpage {
    background-color: rgb(10, 10, 10);
    margin-left: -8px;
    width: 101%;
    min-height: 300px;
    margin-bottom: -8px;
    overflow-y: hidden;
}

/**/

.sociallogo {height: 100px;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 25px;
    cursor: hand;
    filter: brightness(50%);
    transition-duration: .3s}

.sociallogo:hover {
    padding-top: 0px;
    padding-bottom: 5px;
    filter: brightness(100%);
}

.sociallogobg {height: 100px;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    transition-duration: .3s}

.sociallogobg:hover {scale: 1.1;
    padding-bottom: 10px;
    padding-left: 25px;
    filter: brightness(100%);
}

.sociallogobgny {height: 100px;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    cursor: hand;
    filter: brightness(50%);
    rotate: 0deg;
    scale: 1;
    filter: grayscale(100%);
    transition-duration: .5s}

.sociallogobgny:hover {scale: 1.1;
    padding-bottom: 10px;
    padding-left: 25px;
    filter: brightness(100%);
    scale: 1.25;
    filter: grayscale(100%);
    transition-duration: .5s
}

button {
    color: red;
    background-color: rgb(10, 10, 10);
    font-family: Franklin Gothic;
    font-size: 25;
    padding: 25px;
    border: solid;
    border-color: red;
    border-width: 3px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: hand;
    border-radius: 20px;
    scale: 1;
    transition-duration: .5s;
}

button:hover {
    color: rgb(255, 100, 0);
    background-color: rgba(255, 0, 0, .3);
    padding-top: 0px;
    padding-bottom: 20px;
    scale: 1.1;
    transition-duration: .5s;
}

#instabutton {color: white;
    background-color: none;
    font-family: Franklin Gothic;
    font-size: 35;
    text-decoration: none;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 0px;
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 20px;
    transition-duration: .3s;
}

#instabutton:hover {
    color: rgb(255, 0, 255);
    padding-top: 0px;
    padding-bottom: 5px;
}
#obutton {
    color: white;
    background-color: rgba(40, 168, 234, .3);
    font-family: Franklin Gothic;
    font-size: 25;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-color: #1877F2;
    border-width: 3px;
    cursor: hand;
    border-radius: 20px;
    letter-spacing: normal;
    margin-top: 50px;
    width: 450px;
    transition-duration: .5s;
}

#obutton:hover {
    color: white;
    background-color: rgba(40, 168, 234, .5);
    border-color: rgba(24, 118, 242, 0);
    letter-spacing: 1px;
    transition-duration: .5s;
}

#wbutton {
    color: white;
    background-color: rgba(37, 211, 102, .3);
    font-family: Franklin Gothic;
    font-size: 25;
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid;
    border-color: #23a352;
    border-width: 3px;
    cursor: hand;
    border-radius: 20px;
    letter-spacing: normal;
    margin-top: 50px;
    width: 450px;
    transition-duration: .5s;
}

#wbutton:hover {
    color: white;
    background-color: rgba(37, 211, 102, .5);
    border-color: rgba(24, 118, 242, 0);
    letter-spacing: 1px;
    transition-duration: .5s;
}

.pictureiconforrotate {
    rotate: 0deg;
    transition-duration: 0s;
}

.pictureiconforrotate:hover {
    rotate: -360deg;
    transition-duration: .5s;
}

.portfoliosection {background-color: #3b1111;
    width: 90%;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 100px;
    border-radius: 20px;/*35px;*/
    margin-bottom: 100px;
    transition: background-color 0.5s ease;
}

h3 {color: white;
    background-color: rgb(185, 35, 35);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: -50px;
    margin-bottom: 60px;
    border-radius: 25px;
    font-family: Franklin Gothic;
    font-size: 40;
    text-decoration: none;
    text-align: center;
    padding-left: 25px;
    transition-duration: .5s;
}

.portfolioimage {
    width: 400px;
    height: 300px;
    padding: 10px;
    scale: 1;
    /*rotate: 0deg;*/
    filter: brightness(50%);
    transition-duration: 1s;
}

.portfolioimage:hover {
    scale: 1.1;
    /*rotate: -5deg;*/
    filter: brightness(100%);
    transition-duration: 1s;
}

.portfoliotext {
    color: white;
    font-family: Franklin Gothic;
    font-size: 35;
    text-align: left;
}

.portfoliodate {
    color: white;
    background-color: #3b1111;
    font-size: 25;
}

.pagetitletext {    
    margin-top: 100px;
    margin-bottom: 0px;
}


.pagetitletextdiv {    
    margin-top: 0px;
    margin-bottom: 0px;
}

.footertext {
    color: white;
    font-family: Franklin Gothic;
    font-size: 32;
    padding-left: 25px;
    text-align: left;
}

#examplevideo {
    max-width: 600px;
    margin: auto;
}

#contactmeshortcut {
    margin: 0px;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 555;
    cursor: hand;
    scale: 1;
    rotate: 0deg;
    opacity: 50%;
    transition-duration: .3s;
}

#contactmeshortcut:hover {
    scale: 1.1;
    rotate: 5deg;
    opacity: 100%;
    transition-duration: .3s;
}

.textlink {
    color: white;
    font-family: Franklin Gothic;
    font-size: 45;
    padding-left: 25px;
    text-align: center;
    letter-spacing: 0px;
    scale: 1;
    transition-duration: .5s;
}

.textlink:hover {
    color: red;
    letter-spacing: 5px;
    scale: 1.1;
    transition-duration: .5s;
}

a {text-decoration: none}